:root {
    --color1: rgb(42, 91, 155);
    --color2: rgb(104, 173, 219);
}

* {
    font-family: 'Alkatra', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.text-color {
    color: var(--color1);
}

h1, h2, h3, h4, h5, h6, span {
    line-height: 1.25;
    text-align: center;
}

h1 {
    font-size: 36px;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

hr {
    border-top: 1px solid var(--color2);
    margin: 0;
}

a {
    text-decoration: none;
    position: relative;
    transition: opacity 300ms ease;
}

i:hover {
    opacity: 0.7;
}

.link__hover-effect:after {
    content: "";
    position: absolute;
    height: 3px;
    background-color: white;
    width: 0;
    bottom: -3px;
    right: 0;
    transition: all 300ms;
}

.link__hover-effect:hover:after {
    width: 100%;
    left: 0;
}

li {
    list-style-type: none;
}

.row {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 12px;
}

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.container {
    padding: 30px 0;
}

section:nth-child(odd) {
    background-color: rgb(238, 243, 246);
}

.section-title {
    margin-bottom: 20px;
}

.section-subtitle {
    margin: 30px 0 20px;
}

/* Navigation bar */

.nav__bar{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 3;
}

nav {
    height: 90px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    padding: 0 12px;
}

.name__logo {
    font-size: 24px;
    margin: 0px 12px;
    color: var(--color1);
    font-weight: 600;
}

.nav__link-list {
    display: flex;
    justify-content: space-between;
}

.nav__link-anchor {
    margin: 0 12px;
    color: black;
    font-weight: 600;
    transition: 500ms;
}

.nav__link-anchor-contact {
    background-color: var(--color1);
    color: white;
    padding: 8px 20px;
    border-radius: 20px;
}

.nav__link-anchor-other:hover {
    text-shadow: 5px -15px 2px var(--color2);
}

.nav__link-anchor-contact:hover {
    background-color: var(--color2);
}

/* About me */

#about-me {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.about-me__info {
    display: flex;
    flex-direction: column;
}

.about-me__info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.about-me__picture-frame {
    margin: 30px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.about-me__picture-field {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 2px 8px 16px rgba(0, 0, 0, 0.3);
    animation: animate-profile-pic 800ms 200ms backwards;
}

@keyframes animate-profile-pic {
    0% {
        transform: scale(0);
    }
    80% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.about-me__picture-field > img {
    width: 100%;
}

.about-me__info-title {
    margin-bottom: 10px;
    animation: fade-up 650ms 400ms backwards;
}
.about-me__info-title > span {
    color: var(--color1);
}

.about-me__info-paragraph {
    font-size: 20px;
    animation: fade-up 650ms 500ms backwards;
}

.about-me__links {
    animation: fade-up 650ms 600ms backwards;
}

.about-me__link {
    font-size: 20px;
    color: black;
    margin: 0 16px;
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateX(-40px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


.about-me__img-container {
    flex: 1;
    display: flex;
    align-items: center;
    margin: 30px 10px 40px;
}

.about-me__img {
    width: 100%;
    animation: fade-in 1200ms 800ms backwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Skills */

.skill__img {
    width: 100%;
    max-width: 100px;
    transition: all 300ms;
}

.skill:hover .skill__img{
    filter: brightness(85%);
    opacity: 0.9;
    transform: scale(0.9);
}


.skill {
    width: calc(100%/3);
    display: flex;
    justify-content: center;
    position: relative;
}

.skill__img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 16px;
}

.skills-list {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

.skill__name {
    position: absolute;
    bottom: 0;
    transform: scale(0);
    transition: all 300ms;
    font-size: 20px;
    opacity: 0;
}

.skill:hover .skill__name {
    transform: scale(1);
    opacity: 1;
}

/* Projects */

.project {
    margin-bottom: 130px;
}

.project:last-child {
    margin-bottom: 30px;
}

.project__img {
    width: 100%;
    transition: all 500ms;
}

.project__wrapper {
    display: flex;
    box-shadow: 0 20px 80px rgba(0, 0, 0, 0.45);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.project__wrapper:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(32, 35, 48);
    opacity: 0;
    transition: 450ms;
    z-index: 2;
}

.project:hover .project__wrapper:before {
    opacity: 0.8;
}

.project:hover .project__img {
    transform: scale(1.1);
    filter: blur(2px);
}

.project:hover .project__description {
    opacity: 1;
    transform: translateY(-40%);
}

.project__list {
    padding-top: 30px;
}

.project__description {
    position: absolute;
    top: 40%;
    left: 60px;
    transform: translateY(80%);
    max-width: 500px;
    z-index: 3;
    opacity: 0;
    transition: transform 500ms, opacity 300ms;
    padding-right: 15px;
}

.project__description-title {
    font-size: 40px;
}


.project__description-paragraph {
    margin: 16px 0;
}

.project__description-link {
    font-size: 20px;
    margin-right: 16px;
}

.project__description-title,
.project__description-subtitle,
.project__description-paragraph,
.project__description-link {
    text-align: left;
    color: white;
}

/* Footer */

footer {
    background-color: rgb(11, 18, 47);
}

.footer__row {
    padding: 8% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer__logo-img {
    width: 70px;
    height: 70px;
}

.footer__anchor {
    position: relative;
    margin-bottom: 20px;
}

.footer__logo-goback {
    position: absolute;
    top: 40%;
    font-weight: 600;
    opacity: 0;
    transition: all 300ms ease;
}

.footer__anchor:hover .footer__logo-goback {
    transform: translateX(200%);
    opacity: 1;
}

.footer__social-list {
    width: 100%;
    max-width: 500px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
}

.footer__social-link,
.footer__logo-goback {
    color: white;
}

@media (max-width: 768px) {
    nav {
        height: 68px;
    }

    h1 {
        font-size: 28px;
    }

    .about-me__info-paragraph {
        font-size: 18px;
    }

    .project__description-paragraph {
        font-size: 14px;
    }

    .project__description {
        left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 480px) {
    .nav__link:not(:last-child) {
        display: none;
    }


    .project__description {
        padding: 0;
        left: 0;
        width: 100%;

    }

    .project__description-paragraph {
        display: none;
    }

    .project__description-links {
        display: flex;
        justify-content: center;
    }

    .project__description-title {
        font-size: 32px;
        text-align: center;
    }

    .project__description-subtitle {
        text-align: center;
        margin: 12px 0;
    }

}